/.DS_Store
/.venv
/DE_VG250.gpkg
/DE_VG5000.gpkg
/output.xlsx
/output2.xlsx
/~$output.xlsx
/testdataset.csv
data/testdataset.CSV
Ctestdataset.csv
germany-latest.osm.pbf
germany_all_pois.geojson
germany_pois_filtered.geojson
data/DE_VG5000.gpkg
data/germany_pois_filtered.osm.pbf
